.hello{
    color: orange;
}

.hello:hover {
    color: greenyellow;
    font-family: arial;
    font-size: 20px;
}

.hello:active{
    font-style: italic;
}

.hello:visited {
    color: red;
}

li:nth-child(even) a {
    color: green;
}

li:nth-child(even) a:hover {
    color: brown;
}

li:nth-child(odd) a {
    color: greenyellow;
}

li:nth-child(odd) a:hover {
    color: red;
}

p:first-of-type {
    color: red;
}

p:last-of-type {
    color: blue;
}

